body{
    background:#0A3200;
    font-family:'Courier New', Courier, monospace;
}

.assignment{
    background:#379634;
    display:flex;
    margin:10px;
    padding:10px;
}

.assignment img{
    width:500px;
    background:#379634;
    border: 2px solid #BFFFF1;
    margin-right: 20px;
}

h1{
    color:#74F2CE;
    text-align:center;
}

h2{
    color:#7CFFCB;

}

a{
text-decoration:none; 
}
