body{
    background:#0A3200;
    font-family:'Courier New', Courier, monospace;
}

.assignment{
    background:#379634;
    display:flex;
    margin:10px;
    margin-bottom: 30px;
    padding:10px;
    border-radius:5px;
    box-shadow: 5px 8px #74F2CE;
}

.assignment img{
    width:500px;
    background:#379634;
    border: 2px solid #BFFFF1;
    margin-right: 20px;
    border-radius:5px;
}

h1{
    color:#74F2CE;
    text-align:center;
}

h2{
    color:#7CFFCB;

}

.assignment h2:hover {
    color:blue;
}

a{
text-decoration:none; 
}

